@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

  .Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: aliceblue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-inline: 16px;
}

.Nav-logo {
    font-family: 'Galada';    
    font-size: 40px;
    font-weight: 600;
    margin: 22px;
    color: #6499E9;
}