.Search {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.Search-title {
  font-size: 16px;
}

.Search-select {
  background-color: whitesmoke;
  margin: 16px 0;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.Calendars-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.Calendar-title {
  font-size: 16px;
  margin: 14px 0;
}

.Calendar-date {
  background-color: whitesmoke;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.Search-continue {
  margin-left: auto;
}