@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}

.button {
  border: none;
  background-color: #6499E9;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 300ms;
}

.button:hover {
  background-color: #365486;
}

.button-secondary {
  border: none;
  border-radius: 8px;
  background-color: white;
  color: #27374D;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 300ms;
}

.button-secondary:hover {
  background-color: aliceblue;
}

.title {
  font-size: 20px;
  margin: 0;
}

.text {
  font-size: 16px;
  text-align: left;
}